.image-section{
    background-image: url('../../assets/pictures/header-background.jpg');
    background-size: cover;
    height: 130vh;
    width: 100%;
    background-repeat: no-repeat;
    box-shadow: inset 0px 200px 700px 0px #000000;
    background-position: 0px;
    position: relative;
}

/* h3.image-text{
    color: white;
    font-size: 40px;
    position: absolute;
    top: 100px;
} */
div.image-text-container{
    font-size: 50px;
    color: white;
    padding-top: 310px;
    padding-left: 100px;
    max-width: 800px;
}
span.image-text-line-2{
    padding-left: 170px;
}

div.image-text-container svg{
    position: absolute;
    right: 250px;
    color: #b89146;
    cursor: pointer;
}
div.image-foot-container{
    position: absolute;
    /* max-width: 1000px; */
    left: 7%;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
}
div.image-footer-single-grid{
    padding: 25px;
    border-left: 1px solid #373939;
    background-color: #0e1317;
    font-size: 14px;
    min-width: 250px;
    height: 50px;
}
div.image-footer-single-grid-button{
    background-color: #b89146;
    padding: 0px;
    min-width: 250px;
    height: 100%;
}

p.white{
    color: #999999;
    margin: 5px 0px;
    font-weight: 700;
}
p.gold{
    color: #b89146;
    font-weight: 700;
}



input[type="date"],
select{
    background-color: transparent;
    width: 100%;
    border: none;
    font-weight: 700;
    color: #b89146;
    cursor: pointer;
}
input[type="date"]:focus,
select:focus{
    outline: none;
}
select option{
    margin: 10px;
    color: black;
}
.image-footer-select{
    color: blue;
}
div.section{
    padding: 120px;
    /* background-color: red; */
}
div.tex3t-div{
    padding: 20px 0px;
}
div.tex3t-div>*{
    margin-bottom: 25px;
}
div.tex3t-div h2{
    font-size: 45px;
    font-weight: 500;

}
div.greyBack{
    background-color:#f7f7f7;
}
div.luxury-room-type{
    background-color: white;
    height: fit-content;
    text-align: center;
    padding: 10px 15px;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    color: #0e1317;
    margin: 75px 10px;
    width: fit-content;
}

.type-active{
    background-color: #b89146 !important;
    color: white !important;
}

div.luxury-room-type:hover{
    cursor: pointer;
}
