.header-box{
    height: 120px;
    color: white;

    position: relative;
    background: transparent;
    width: 100%;
    background-image: url('../../assets/pictures/header-background.jpg');
    box-shadow: inset 0px 50px 100px 0px #000000;
    background-size: cover;

}

.sticky-box{
    background-color: #0e1317;
    height: 120px;
    width: 100%;
    color: white;
    border-bottom: 1px solid grey;
    position: sticky;
    top: 0px;
    animation-name: slideinHead;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}
@keyframes slideinHead {
    from {
      top: -130px;
    }
  
    to {
      top: 0px;
    }
  }
.logo{
    font-family: 'Shantell Sans', cursive;
    font-size: x-large;
    font-weight: 600;
}
a{
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}
.header-box .links{
    display: flex;
}
.sticky-box .links{
    display: flex;
}
.sticky-box .links > *{
    margin: 0px 30px;
}
.sticky-box .links a:hover{
    color: #b89146;
    transition: .4s;
}
.header-box .links > *{
    margin: 0px 30px;
}
.header-box .links a:hover{
    color: #b89146;
    transition: .4s;
}
